# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'smart-expand'
      'submenu': [
        {
          'label': 'Expand'
          'command': 'smart-expand:grow'
        },
        {
          'label': 'Contract'
          'command': 'smart-expand:shrink'
        }
      ]
    ]
  }
]
